.inputs{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-control-group{
    width: 40%;
}

nb-card{
    height: 95%;
    padding: 50px;
}

.button{
    margin-top: 100px;
    width: 30%;
}