<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <nb-card size="xsmall" class="card" (click)="goToSchools()">
      <nb-card-header>All schools</nb-card-header>
      <nb-card-body class="card-body">Click me</nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <nb-card size="xsmall" class="card" (click)="goToAddSchool()">
      <nb-card-header>Add school</nb-card-header>
      <nb-card-body>Click me</nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <nb-card size="xsmall" class="card" (click)="goToClasses()">
      <nb-card-header>All classes</nb-card-header>
      <nb-card-body>Click me</nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <nb-card size="xsmall" class="card" (click)="goToAddClass()">
      <nb-card-header>Add class</nb-card-header>
      <nb-card-body>Click me</nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <nb-card size="xsmall" class="card" (click)="goToStudents()">
      <nb-card-header>All students</nb-card-header>
      <nb-card-body>Click me</nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <nb-card size="xsmall" class="card" (click)="goToAddStudent()">
      <nb-card-header>Add student</nb-card-header>
      <nb-card-body>Click me</nb-card-body>
    </nb-card>
  </div>
</div>
